@media only screen and (min-width:800px){
    body{
	position:absolute;
	left:100px;
	width:80%;
	font-family:Verdana;
    }
}
@media only screen and (max-width:300px){
    body{
	position:absolute;
	left:20px;
	width:100px;
	font-family:Verdana;
    }
}
    
h1, h2{
    font-variant:small-caps;
    text-decoration:underline;
}
