@media only screen and (min-width:800px){
    body{
	position:absolute;
	left:100px;
	width:80%;
	font-family:Verdana;
    }
}
@media only screen and (max-width:400px){
    body{
	position:absolute;
	left:20px;
	font-family:Verdana;
	font-color:red;
    }
}
    
h1, h2{
    font-variant:small-caps;
    text-decoration:underline;
    background:orange;
    border:1px inset;
}
